<div>
  <div class="titleGlobal">
    <span id="title">Вхід</span>
  </div>
  <span id="errorMassage" *ngIf="errorMassage">{{errorMassage}}</span>
  <form>
    <div id="loginForm-container">
      <div class="loginTitle">
        <span >Логін:</span>
      </div>
      <div class="loginInput">
        <input type="login" name="login" #userLogin>
      </div>

      <div class="loginTitle">
        <span>Пароль</span>
      </div>
      <div class="loginInput">
        <input type="password" name="loginPassword" #userPassword>
      </div>
    </div>
    <div class="routToRegistr">
      <span>Нема акаунта? <a routerLink="/home/auth/registration">Зареєструйся</a></span>
    </div>
    <div id="loginButton">
      <button type="button" name="loginButton"  class="darkButton" (click)="login(userLogin.value, userPassword.value)">Ввійти</button>
    </div>
  </form>
</div>
