#loginForm-container{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 10px;
}

input {
  display: block;
  width: 276px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: rgba(1,1,1,0);
  border: 0px solid #b5a397;
  border-bottom: 2px solid #b5a397;
  color: #30231d;
  font-weight: 600;
  font-size: 15px;
}

.loginTitle {
  padding-top: 13px;
  color: #30231d;
  font-weight: 600;
}

.routToRegistr a {
  color: #b5a397;
}
.routToRegistr span {
  color: #30231d;
  font-weight: 600;
}

#loginButton{
  text-align: center;
  grid-column: 1 / 13;
  margin-top: 15px;
}
#loginButton button{
  padding: 5px 20px;
  border: none;
  font-size: 25px;
}

#errorMassage{
  color: red;
}
