<h2>Показники банкрутства підприємств</h2>
<p></p>
<div class="companiesList" *ngIf="getOwnersCompanies()!=null">
  <div *ngFor="let company of getOwnersCompanies()">
    {{company.companyName}}
    <div class="statisticsBlock">
      <h3>Показники рівня ризику банкрутства підприємства</h3>

      <p *ngIf="getNedosekinModelIndicatorsForCompany(company)!=null">За моделлю Недосєкіна</p>
      <div *ngFor="let nedosekinModelIndicator of getNedosekinModelIndicatorsForCompany(company)">
        Назва: {{nedosekinModelIndicator.name}} --- Значення: {{nedosekinModelIndicator.linguisticAssessment}} --- Дата оцінювання: {{nedosekinModelIndicator.date}}
      </div>
      <p></p>

      <p *ngIf="getLissModelIndicatorsForCompany(company)!=null">За моделлю Ліса</p>
      <div *ngFor="let lissModelIndicator of getLissModelIndicatorsForCompany(company)">
        Значення 1: {{lissModelIndicator.x1}} --- Значення 2: {{lissModelIndicator.x2}} --- Значення 3: {{lissModelIndicator.x3}} --- Значення 4: {{lissModelIndicator.x4}} --- Загальне значення: {{lissModelIndicator.z}} --- Дата оцінювання: {{lissModelIndicator.date}}
      </div>
      <p></p>

      <p *ngIf="getDavidBelikovModelIndicatorsForCompany(company)!=null">За моделлю Девідової-Белікова</p>
      <div *ngFor="let davidBelikovModelIndicator of getDavidBelikovModelIndicatorsForCompany(company)">
        Значення 1: {{davidBelikovModelIndicator.x1}} --- Значення 2: {{davidBelikovModelIndicator.x2}} --- Значення 3: {{davidBelikovModelIndicator.x3}} --- Значення 4: {{davidBelikovModelIndicator.x4}} --- Загальне значення: {{davidBelikovModelIndicator.z}} --- Дата оцінювання: {{davidBelikovModelIndicator.date}}
      </div>
      <p></p>

      <p *ngIf="getMultiFactorModelOfAltmanIndicatorsForCompany(company)!=null">За мультифакторною моделлю Альтмана</p>
      <div *ngFor="let multiFactorModelOfAltmanIndicator of getMultiFactorModelOfAltmanIndicatorsForCompany(company)">
        Значення 1: {{multiFactorModelOfAltmanIndicator.x1}} --- Значення 2: {{multiFactorModelOfAltmanIndicator.x2}} --- Значення 3: {{multiFactorModelOfAltmanIndicator.x3}} --- Значення 4: {{multiFactorModelOfAltmanIndicator.x4}} --- Значення 5 {{multiFactorModelOfAltmanIndicator.x5}} --- Загальне значення: {{multiFactorModelOfAltmanIndicator.z}} --- Дата оцінювання: {{multiFactorModelOfAltmanIndicator.date}}
      </div>
      <p></p>

      <p *ngIf="getSpringateModelIndicatorsForCompany(company)!=null">За моделлю Спрінгейта</p>
      <div *ngFor="let springateModelIndicator of getSpringateModelIndicatorsForCompany(company)">
        Значення 1: {{springateModelIndicator.x1}} --- Значення 2: {{springateModelIndicator.x2}} --- Значення 3: {{springateModelIndicator.x3}} --- Значення 4: {{springateModelIndicator.x4}} --- Загальне значення: {{springateModelIndicator.z}} --- Дата оцінювання: {{springateModelIndicator.date}}
      </div>
      <p></p>

      <p *ngIf="getUniversalDiscriminatoryModelIndicatorsForCompany(company)!=null">За універсальною дискримінантною моделлю</p>
      <div *ngFor="let universalDiscriminatoryModelIndicator of getUniversalDiscriminatoryModelIndicatorsForCompany(company)">
        Значення 1: {{universalDiscriminatoryModelIndicator.x1}} --- Значення 2: {{universalDiscriminatoryModelIndicator.x2}} --- Значення 3: {{universalDiscriminatoryModelIndicator.x3}} --- Значення 4: {{universalDiscriminatoryModelIndicator.x4}} --- Значення 5: {{universalDiscriminatoryModelIndicator.x5}} --- Значення 6: {{universalDiscriminatoryModelIndicator.x6}} --- Загальне значення: {{universalDiscriminatoryModelIndicator.z}} --- Дата оцінювання: {{universalDiscriminatoryModelIndicator.date}}
      </div>
      <p></p>

    </div>
  </div>
</div>
