<div class="label">
  <span>Виберіть компанію:</span>
</div>
<div class="input">
  <select name="company" id="selectedCompanyId" [value]="selectedCompany" (change)="selectedCompany=$event.target.value">
    <option *ngFor="let company of getCompanyList()"
            [value]="company.companyId">
      {{company.companyName}}
    </option>
  </select>
</div>
<button name="button" type="button" (click)="getSelectedCompany()">Отримати</button>

<div *ngIf="company!=null && openCalculation">
  <h2>Дані фінансових показників</h2>
  <table class="preQuantitativeIndicatorListTable" style="border: #f6f1ed">
    <tr style="border-bottom: 2px solid #6a5750; margin-bottom: 0;">
      <th>Показник</th>
      <th>Значення</th>
    </tr>
    <tr>
      <td>Робочий капітал</td><td><input type="number" name="workingCapital" [(ngModel)]="springateModelData.workingCapital"></td>
    </tr>
    <tr>
      <td>Загальна вартість активів</td><td><input type="number" name="totalValueOfAssets" [(ngModel)]="springateModelData.totalValueOfAssets"></td>
    </tr>
    <tr>
      <td>Прибуток від реалізації</td><td><input type="number" name="profitFromSales" [(ngModel)]="springateModelData.profitFromSales"></td>
    </tr>
    <tr>
      <td>Короткострокова заборгованість</td><td><input type="number" name="shortTermDebt" [(ngModel)]="springateModelData.shortTermDebt"></td>
    </tr>
    <tr>
      <td>Обсяг продажу</td><td><input type="number" name="salesVolume" [(ngModel)]="springateModelData.salesVolume"></td>
    </tr>
  </table>
  <button type="button" (click)="NextToResults()">Розрахувати</button>
</div>

<div *ngIf="openResults">
  <h2>Результат</h2>
  <table class="resultTable" style="border: #f6f1ed">
    <tr style="border-bottom: 2px solid #6a5750; margin-bottom: 0;">
      <th>Показник</th>
      <th>Значення</th>
    </tr>
    <tr>
      <td>x1</td><td>{{finalResult.x1}}</td>
    </tr>
    <tr>
      <td>x2</td><td>{{finalResult.x2}}</td>
    </tr>
    <tr>
      <td>x3</td><td>{{finalResult.x3}}</td>
    </tr>
    <tr>
      <td>x4</td><td>{{finalResult.x4}}</td>
    </tr>
    <tr>
      <td>z</td><td>{{finalResult.z}}</td>
    </tr>
    <tr>
      <td>Ступінь ризику банкрутства підприємства</td><td>{{getRisk()}}</td><td></td><td></td>
    </tr>
  </table>
  <p>Ступінь ризику банкрутства підприємства становить  {{finalResult.z}}</p>
  <a href="http://localhost:4200/main-page"><button type="button">Закінчити</button></a>
</div>
<router-outlet></router-outlet>
