<div class="titleGlobal">Реєстрація</div>
<form>
  <div>
    <span>Ім'я</span>
    <input type="text" name="firstName" #firstName>
  </div>

  <div>
    <span>Прізвище</span>
    <input type="text" name="lastName" #lastName>
  </div>

  <div>
    <span>Логін</span>
    <input type="text" name="login" #login>
  </div>

  <div>
    <span>Електронна пошта</span>
    <input type="email" name="userEmail" #userEmail>
  </div>

  <div>
    <span>Номер телефону</span>
    <input type="text" name="userPhoneNumber" #userPhoneNumber>
  </div>

  <div>
    <span>Пароль</span>
    <input type="password" name="userPassword2" #userPassword1>
  </div>

  <div>
    <span>Повторіть пароль</span>
    <input type="password" name="userPassword2" #userPassword2>
  </div>
  <div>
    В мене вже є акаунт. <a routerLink="home/auth/login">Ввійти</a>
  </div>
  <div>
    <button name="registrate" type="button" class="darkButton" (click)="registration(
      firstName.value, lastName.value, login.value, userEmail.value, userPassword1.value, userPassword2.value,
      userPhoneNumber.value)">Зареєструватися</button>
  </div>
</form>
