<div style="width: 100%; height: 153px"></div>
<div id="headerBackground"></div>
<div id="dashboard">
  <header>
    <span id="title" onmousedown="return false" onselectstart="return false" style="cursor: default">
      Bankruptcy Risk Assessment
    </span>
    <div id="currentUser">
      <a routerLink="/main-page/personal-cabinet" style="">{{currentUser?.login}}  </a>
      <button id="logoutButton" (click)="logout()">Вихід</button>
    </div>
  </header>

  <div id="main-page">
    <ul id="userMenu">
      <a routerLink="/main-page">
        <li><div>Головна</div></li>
      </a>

      <a routerLink="/main-page/personal-account/">
        <li><div>Персональний кабінет</div></li>
      </a>

      <a routerLink="/main-page/choice-of-minimization-method">
        <li><div>Управління</div></li>
      </a>

      <a routerLink="/main-page/bancruptcy-analysis">
        <li>Аналіз ризику банкрутства</li>
      </a>

      <a routerLink="/main-page/statistics">
        <li>Статистика</li>
      </a>

      <a routerLink="/main-page/personal-account/profile-settings">
        <li style="border-right: none"><div>Налаштування</div></li>
      </a>

    </ul>
    <div id="routingCounter">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer>
  <span></span>
  <span></span>
  <span>Зв'яжіться з нами</span>
</footer>



